.active-menu {

  .icon {
    color: #00693C;
  }

  .text span {
    color: #00693C;
  }

}

.nested {
  .icon {
    font-size: 22px;
  }

  .text span {
    font-size: 0.85rem;
  }
}